node_modules
.DS_Store
dist
dist-ssr
*.local
.env*
!.env.example
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# local database data (if a bind mount is used later)
postgres-data

# typescript
*.tsbuildinfo
